.collection{
    width: 55%;
}

.collection-title{
    color: rgb(17, 24, 39);
   
    font-size:2.4rem;
}

.collection-title-span{
    color:rgb(79, 70, 229);
    font-size:1.6rem;
    font-weight: 400;
}

.collection__view{
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.view{
    color: rgb(255, 255, 255);
    font-size: 2.4rem;
    font-weight:300;
   
    height: 163px;
    width: 143px;
    margin: 0 10px;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
    display: flex;
    align-items: center;
}

.pink{
    background-color: rgb(222, 164, 228);
}

.green{
    background-color: rgb(173, 241, 186);
}

.blue{
    background-color: rgb(173, 224, 241);
}

.form{
    margin:  24px 0;
}

.form-group{
    display: flex;
    flex-direction: column;
}

.form-group--title{
    color: rgb(17 24 39);
    font-weight: 700;
    font-size:1.4rem;
    margin: 10px 0;

}

.form-group--input{
    
    border: 1px solid  rgb(229 231 235);
    
    
    width: 100%;
    height: 35px;
    padding: 8px 12px

}

.form-group--input::placeholder{
    color: rgb(107, 114, 128);
}

.placeholder{
    color: rgb(107, 114, 128);
    font-size:1.3rem;
    font-weight: 500;

}

.collection__button{
    color: rgb(79 70 229);
    font-weight: 700;
    background-color: rgb(255 255 255);
    border-color: rgb(79 70 229);
    border-radius:9999px;
    width: 100%;
    height: 64px;
    cursor: pointer;
    font-size:2rem;
    margin-top: 20px;



}

.download{
    background-color: rgb(79 70 229);
    color: rgb(255 255 255);
    border: none;
}

.download:hover{
    background-color: rgba(78, 70, 229, 0.648);
}